{% extends "layout.html" %}
  
{% block content %}
<h4>Send to us bussiness documents</h4>
    <p>The N-Sokoo portal hosts a platform where users can advertise for their items,
        property, jobs and tenders across East Africa. It has more than 1.5 million visitors monthly.</p>
      <p>N-Soko Deals, which will also be available as a mobile app, allows the customer to get a range of products online at a discounted rate.
          For businesses, it provides an additional revenue stream as an advertising platform.</p>
  <h3>Upload new File</h3>
    <form action="/" method=post enctype=multipart/form-data>
      <input type=file name=file>
         <input type=submit value=Upload>
    </form>
{% endblock %}



