{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the N-Sokoo</h2>
      <h3>Where Sellers meet buyers</h3>
    <p>The N-Sokoo portal hosts a platform where users can advertise for their items,
        property, jobs and tenders across East Africa. It has more than 1.5 million visitors monthly.</p>
      <p>N-Soko Deals, which will also be available as a mobile app, allows the customer to get a range of products online at a discounted rate.
          For businesses, it provides an additional revenue stream as an advertising platform.</p>
      <p>Other than the N-Sokoo Deals platform, there already exists websites offering deals
          such as the Kenyan rupu (rupu.co.ke), zetu deals (zetu.co.ke) and Jumia (Jumia.co.ke)</p>

  </div>
{% endblock %}